@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

.animate-large-marquee {
  animation: marquee 60s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 60s linear infinite;
}

.animate-large-marquee2 {
  animation: marquee2 60s linear infinite;
}
